[user]
    name = giulio
    email = giuliop@gmail.com
[core]
    editor = vim
    excludesfile = ~/dev/dotfiles/.gitignore_global
[github]
    user = giuliop
[alias]
    aa = add --all
    ca = commit -a -m
    ck = checkout
    cm = commit -m
    dc = diff --cached
    last = log -1 HEAD
    ps = push
    pl = pull
    st = status
    tg = tag -l -n1
[push]
    ;git push will only push current branch when tracking enabled
    default = tracking
[merge]
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
    trustExitCode = false
    keepBackup = false
    prompt = false
