[user]
    name = giulio
    email = giuliop@gmail.com
[core]
    editor = nvim
    excludesfile = ~/dev/dotfiles/.gitignore_global
[github]
    user = giuliop
[alias]
    aa = add --all
    amend = commit --amend
    ca = commit -a -m
    ck = checkout
    cm = commit -m
    dc = diff --cached
    last = log -1 HEAD
    mg = merge
    ps = push
    pl = pull
    st = status
    tg = tag -l -n1
[push]
    ;git push will only push current branch when tracking enabled
    default = tracking
[http]
    ; next line to use socks5 proxy behind firewall
    ;proxy = socks5://127.0.0.1:1080
